.container {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgb(53 105 128 / 30%), 0 6px 20px 0 rgb(165 200 213 / 41%);
}